body {
  font-family: 'Raleway', 'helvetica neue', arial, sans-serif;
  font-weight: 300;
}

h1 {
	font-family: 'Simonetta';
	font-size: 50px;
	font-weight: bold;
	color: blue;
}

/* Make the h1 tags blue*/

h3 {
	font-weight: bold;
	color: red;
}


h4 {
	font-weight: bold;
}


/*Identifying specific ID with #*/

#header {
	overflow: hidden;
}


}
.purple {
	color: purple;
}

p, li { 
  line-height: 24px;
}

.jumbotron {
height: 400px;
   }